[submodule "json-c"]
	path = json-c
	url = https://github.com/json-c/json-c.git
[submodule "mbedtls"]
	path = mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "cjose"]
	path = cjose
	url = https://github.com/veselov/cjose
	branch = json_ser
