build
cmake-build*
config.cmk
run.cmk
.idea/workspace.xml
.idea/tasks.xml
config.h
types_base.h
build_config.h
json-c-build
cjose-build
mbedtls-build
c-ares-build
android_src
android_build
arm_src
arm_build
